/*
 *  Page CSS
 * ------------------------------------------------------------------------------
 */
i.form-control-icon {
    color: #777777;
    font-size: 16px;
}
.form-control-icon {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    pointer-events: none;
}
.form-control.is-invalid {
    background-image: none;
}


/*
 *  Responsive
 * ------------------------------------------------------------------------------
 */
/* Large devices (desktops, less than 1200px) */
@media only screen and (max-width: 1199.98px) {

}
/* Medium devices (tablets, less than 992px) */
@media only screen and (max-width: 991.98px) {
    #content-login {
        max-width: 60%;
        flex: auto;
    }
}
/* Landscape phones and portrait tablets */
@media only screen and (max-width: 767.98px) {
    #content-login {
        max-width: 100%;
    }
    .text-xs-center {
        text-align: center;
    }
}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

}
