/*
 *  Page CSS
 * ------------------------------------------------------------------------------
 */
#box-action {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 15px;
}
#box-action .box-header select {
    font-size: 14px;
    line-height: 28px;
    min-width: 100px;
}
#box-action .box-header .text-right span,
#box-action .box-header .text-right label {
    font-size: 16px;
    line-height: 28px;
    font-weight: 700;
}
#box-action .box-header .text-right span {
    color: #ed1c24;
    border: 1px solid #333333;
    padding: 3px 5px;
    letter-spacing: 1px;
    font-weight: 900;
}
.box-bg-gradient {
    background: linear-gradient(to right, #000000, #ed1c24);
    height: 5px;
    margin-left: -15px;
    margin-right: -15px;
}

#head-tabs {
    background-color: #f8f9fa;
    width: 100%;
    padding-top: 20px;
}
ul#tabs li {
    margin-right: 10px;
}
ul#tabs li:last-child {
    margin-right: 0;
}
ul#tabs li.nav-item a {
    color: #ffffff;
    font-size: 14px;
    line-height: 28px;
    background-color: #ed1c24;
}
ul#tabs li.nav-item a.active {
    color: #333333;
    background-color: #ffffff;
}

#tabsContent {
    width: 100%;
}
#tabsContent .form-group label,
#tabsContent .form-group input {
    font-size: 14px;
    line-height: 28px;
}
/** Post **/
#divPost .shapeborder { border:1px solid #FF0000; }
#divPost .circle { border-radius: 50%; }

#divPost .outer {
    background-color: #f3f3f3;
    width:38px;
    height:38px;
}
#divPost .inner {
    background-color: #f3f3f3;
    width: 92%;
    height: 92%;
    margin: 4%;
    position: relative;
}
#divPost .inner a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: table;
    /*** text ***/
    font-size: 14px;
    line-height: 14px;
    font-weight: 700;
    color: #FF0000;
    text-decoration: none;
}
#divPost ul {
    padding: 0;
    margin: 0;
    text-align: center;
    height: 38px;
}
#divPost ul li {
    list-style: none;
    /*float: left;*/
    /*margin-right: 5px;*/
    display: inline-block;
}
#divPost ul li.current .inner {
    background-color: #FF0000;
}
#divPost ul li.current .inner a {
    color: #FFFFFF;
}

#divPost ul li.isDisabled{
    background: transparent !important;
}
#divPost ul li.lo4p a {
    font-size: 12px;
    line-height: 12px;
}
#divPost ul li:first-child label {
    position: relative;
    top: -12px;
}
/** keys control **/
#keysControl ul li, #keysControl ul button {
    display: table;
    min-width: 70px;
    height: 50px;
    border-radius: 2px;
    background-color: #f8f9fa;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
    float: left;
    margin-right: 10px;
    cursor: pointer;
}
#keysControl ul li div.center-middle{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
#keysControl ul li label, #keysControl ul button label {
    font-size: 18px !important;
    line-height: 18px !important;
    font-weight: 900;
}
#keysControl ul li label.fas, #keysControl ul button label.fas {
    font-size: 24px !important;
}
#keysControl ul li:first-child label {
    line-height: 40px !important;
}
#keysControl ul button label {
    transform: rotate(90deg);
    margin-bottom: 10px;
}
#keysControl ul li small, #keysControl ul button small {
    font-size: 10px;
    line-height: 0px;
    font-weight: 300;
    display: block;
}
#keysControl ul button {
    margin-right: 0;
    cursor: pointer;
}

#displayTable {
    background-color: #ffffff;
    padding: 15px 0;
    border-radius: 15px;
}
#displayTable table thead th {
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
}
#displayTable table tbody td {
    color: #333333;
    font-size: 14px;
}
#displayTable table tbody td .btn {
    padding: 3px 6px;
}
#displayTable #display-footer .col-left span {
    font-size: 16px;
    font-weight: 500;
    color: #333333;
}
#displayTable #display-footer .col-right span {
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 1px;
}
#displayTable #display-footer .col-right .btn {
    min-width: 80px;
}
#display-footer .bg-gray {
    background-color: #f8f9fa;
}

/*
 *  Responsive
 * ------------------------------------------------------------------------------
 */
/* Large devices (desktops, less than 1200px) */
@media only screen and (max-width: 1199.98px) {

}
/* Medium devices (tablets, less than 992px) */
@media only screen and (max-width: 991.98px) {

}
/* Landscape phones and portrait tablets */
@media only screen and (max-width: 767.98px) {
    #box-action {
        margin-right: -15px;
        margin-left: -15px;
        border-radius: 0;
    }
    #box-action .box-header .text-right span,
    #box-action .box-header .text-right label {
        font-size: 14px;
        line-height: 28px;
        font-weight: 700;
    }
    /** tabs **/
    #head-tabs ul#tabs li {
        margin-right: 5px;
    }
    #head-tabs ul#tabs li a.nav-link {
        padding: 0 5px !important;
        font-size: 12px;
    }
    #tabsContent #digit {
        margin-right: 15px !important;
        margin-left: 15px !important;
    }
    #tabsContent #digit .form-group.row {
        margin-left: -5px;
        margin-right: -5px;
    }
    #tabsContent #digit .form-group.row .col-1,#tabsContent #digit .form-group.row .col-3,#tabsContent #digit .form-group.row .col-4 {
        padding-right: 5px;
        padding-left: 5px;
    }

    /** keys control **/
    #keysControl ul li {
        min-width: 55px;
        margin-right: 5px;
    }
    #keysControl ul li label {
        font-size: 16px !important;
        line-height: 16px !important;
        font-weight: 900;
    }
    #keysControl ul li label.fas {
        font-size: 20px !important;
    }

    /** Table display **/
    #displayTable {
        margin-right: -15px;
        margin-left: -15px;
        border-radius: 0;
    }
    #displayTable .mx-5 {
        margin-right: 15px !important;
        margin-left: 15px !important;
    }
    #displayTable table {
        width: 100%;
    }
    /* Force table to not be like tables anymore */
    #displayTable table, #displayTable thead, #displayTable tbody, #displayTable th, #displayTable td, #displayTable tr {
        display: block;
    }
    /* Hide table headers (but not display: none;, for accessibility) */
    #displayTable thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    /*#displayTable tr { border: 1px solid #ccc; }*/
    #displayTable tr td:first-child {
        background-color: #454d55;
        color: #ffffff;
    }
    #displayTable tr td:last-child {
        border-bottom: 0;
    }
    #displayTable td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #dee2e6;
        position: relative;
        min-height: 50px;
        padding: 0.75rem 0 0.75rem 50%;
    }
    #displayTable td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 12px;
        left: 12px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        /* Label the data */
        content: attr(data-column);

        font-weight: bold;

    }

    /** custom **/
    .text-xs-center {
        text-align: center;
    }

}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    #displayTable .mx-5 {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
}
