/*
 *  Global CSS
 * ------------------------------------------------------------------------------
 */
body {
    font-family: Khmer Os Battambang,Arial,Helvetica,sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #333333;
    background: #FFFFFF;
    overflow-x: hidden;
    position:relative;
}
.overlay,.sideMenu{position:fixed;bottom:0}
.overlay{top:0;left:-100%;right:100%;margin:auto;background-color:rgba(0,0,0,.5);z-index:998;transition:all ease 0.2s}
.overlay.open{left:0;right:0}
.sidebarNavigation{margin-bottom:0;z-index:999;justify-content:flex-start}
.sidebarNavigation .leftNavbarToggler{margin-right:10px;order:-1}
.sideMenu{left:-100%;transition:all ease 0.5s;overflow:hidden;width:100%;z-index:999;max-width:80%;margin-bottom:0;padding:1rem}
.sideMenu.open{left:0;display:block;overflow-y:auto}
.sideMenu ul{margin:0;padding:0 15px}

/*
 *  Header
 * ------------------------------------------------------------------------------
 */
/*#header {
    margin: 10px 0;
    text-align: right;
}
#header ul li {
    display: inline-block;
    padding: 0 10px;
}
#header ul li:first-child {
    border-right: 1px solid #000000;
    padding-left: 0;
}
#header ul li:last-child {
    border: 0;
    padding-right: 0;
}
#header button.sign-in {
    background: linear-gradient(to right, #ed1c24, #000000);
    border: 0;
    font-size: 16px;
    line-height: 28px;
    font-weight: 700;
    color: #ffffff;
    padding: 3px 6px;
}*/
/*#header ul li i {
    padding-right: 3px;
}*/
/*#header ul li i.fa-envelope,
#header ul li a {
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #333333;
}*/

/*
 *  Navigation
 * ------------------------------------------------------------------------------
 */
header {
    height: 70px;
}
header .navbar,
#navbarsExampleDefault .navbar {
    padding: 5px 1rem !important;
}
header .nav,
#navbarsExampleDefault .nav {
    /*font-family: 'Raleway', Arial, sans-serif;*/
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    margin: auto;
}
header .nav *,
#navbarsExampleDefault .nav * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}
header .nav li,
#navbarsExampleDefault .nav li {
    display: inline-block;
    list-style: outside none none;
    margin: 0.5em 1.5em;
    padding: 0;
}
header .nav a.nav-link,
#navbarsExampleDefault .nav a.nav-link {
    padding: 0.4em 0;
    color: #FFFFFF !important;
    font-size: 14px;
    line-height: 28px;
    position: relative;
    text-decoration: none;
    display: inline-block;
}
header .nav a.nav-link:before {
    position: absolute;
    content: '';
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    opacity: 0;
    top: 25%;
    bottom: 25%;
    left: 0;
    right: 0;
    border-top: 3px solid #ed1c24;
    border-bottom: 3px solid #ed1c24;
}
header .nav a.nav-link:hover, header .nav .active a.nav-link,
#navbarsExampleDefault .nav a.nav-link:hover, #navbarsExampleDefault .nav .active a.nav-link {
    color: #ed1c24 !important;
}
header .nav a:hover:before,
header .nav .active a:before {
    opacity: 1;
    top: -16px;
    bottom: -16px;
}
header .dropdown-menu,
#navbarsExampleDefault .dropdown-menu {
    background-color: #333333;
    border-top: 3px solid #ed1c24;
    top: 52px;
}
header .dropdown-menu a,
#navbarsExampleDefault .dropdown-menu a {
    color: #ffffff;
}
header .dropdown-menu a:hover,
#navbarsExampleDefault .dropdown-menu a:hover {
    color: #16181b;
}
/* Nav Right */
header #nav-right ul li {
    display: inline-block;
    padding: 0 10px;
    border-right: 1px solid #ffffff;
    float: left;
}
header #nav-right ul li:first-child {
    padding-left: 0;
}
header #nav-right ul li:last-child {
    border: 0;
    padding-right: 0;
}
header #nav-right ul li a.nav-link {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 28px;
    text-transform: uppercase;
}
header #nav-right ul li button,
header #nav-right ul li a.btn {
    /*background: linear-gradient(to right, #ed1c24, #000000);*/
    background-color: #ed1c24;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 28px;
    text-transform: uppercase;
    padding: 3px 6px;
}
/* Logo */
header nav .navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    max-height: 60px;
}
/* has login */
header #nav-right ul.login li:first-child {
    padding: 0 10px;
    border-right: 0;
    border-left: 1px solid #ffffff;
}
header #nav-right ul.login li {
    padding: 0;
}
header #nav-right ul.login li .fa-user {
    padding: 10px;
    border: 2px solid #ed1c24;
    color: #ed1c24;
}
header #nav-right ul.login li .dropdown-menu {
    top: 60px;
}
header #nav-right ul.login li .dropdown-menu a {
    text-transform: capitalize;
}
header #nav-right ul.login li .dropdown-menu a.logout {

}
header #nav-right ul.login li small,
header #nav-right ul.login li h6 {
    color: #ffffff;
    text-align: center;
}
header #nav-right ul.login li h6 {
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
}
header #nav-right ul.login li small {
    font-size: 12px;
}
header #nav-right ul.login li div.nav-link {
    padding-left: 0;
    padding-right: 0;
}

/*
 *  Banner Slide
 * ------------------------------------------------------------------------------
 */
#banner-slide {
    margin: 0;
}
#banner-slide .slide {
    display: none !important;
    cursor: all-scroll;
    position: relative;
}
#banner-slide .slide .img-slide {
    display: none;
}
#banner-slide .slide .bg-slide {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   /* min-height: 498px;*/
    height: 66vh;
}
#banner-slide .slide:first-child {
    display: block !important;
}
#banner-slide.slick-initialized .slide {
    display: block !important;
}
/* pagination */
#banner-slide ul.slick-dots {
    bottom: 25px;
}
#banner-slide ul.slick-dots li button:before {
    color: #ffffff;
}
#banner-slide button.register {
    background-color: #ed1c24;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 28px;
    text-transform: uppercase;
    position: absolute;
    bottom: 20%;
    left: 20%;
    border: 1px solid;
}

/*
 *  Custom
 * ------------------------------------------------------------------------------
 */
.bg-gradient {
    background: linear-gradient(to right, #ed1c24, #000000);
}
.bgFull-gradient {
    background: linear-gradient(to right, #ed1c24, #191025, #9b8b7b);
}
.bg-dark {
    background-color: #000000 !important;
}
/* margin */
.m-l-15 {
    margin-left: 15px;
}
.m-r-15 {
    margin-right: 15px;
}
.m-x-15 {
    margin-left: 15px;
    margin-right: 15px;
}
.m-y-15 {
    margin-top: 15px;
    margin-bottom: 15px;
}
.m-l-30 {
    maring-left: 30px;
}
.m-r-30 {
    margin-right: 30px;
}
.m-x-30 {
    maring-left: 30px;
    margin-right: 30px;
}
.m-y-30 {
    margin-top: 30px;
    margin-bottom: 30px;
}
/* padding */
.p-l-15 {
    padding-left: 15px;
}
.p-r-15 {
    padding-right: 15px;
}
.p-x-15 {
    padding-left: 15px;
    padding-right: 15px;
}
.p-y-15 {
    padding-top: 15px;
    padding-bottom: 15px;
}
.p-l-30 {
    padding-left: 30px;
}
.p-r-30 {
    padding-right: 30px;
}
.p-x-30 {
    padding-left: 30px;
    padding-right: 30px;
}
.p-y-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}
/* color */
.color-red {
    color: #ed1c24;
}
/* header tag */
h1 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
}
h2 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
}
h3 {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
}
/* break line */
hr {
    border-color: #696969;
}
/* cursor */
.cursor-pointer {
    cursor: pointer !important;
}

/*** Bootsrap Alert
---------------------------------------------- ***/
.msg {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
}
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px !important;
}
hr.message-inner-separator
{
    clear: both;
    margin-top: 10px;
    margin-bottom: 13px;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.alert-success {
    color: #3c763d !important;
    background-color: #dff0d8 !important;
    border-color: #d6e9c6 !important;
}
.alert-danger {
    color: #721c24 !important;
    background-color: #f8d7da !important;
    border-color: #f5c6cb !important;
}
.alert-warning {
    color: #856404 !important;
    background-color: #fff3cd !important;
    border-color: #ffeeba !important;
}

/*
 *  Footer
 * ------------------------------------------------------------------------------
 */
footer {
    background-color: #333333;
    width: 100%;
    padding: 15px 0;
}
footer #paymentMethod h1, footer #paymentMethod p {
    text-align: center;
}
footer #paymentMethod h1 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #ffffff;
    text-transform: capitalize;
    padding-bottom: 10px;
}
footer #paymentMethod p {
    font-size: 14px;
    line-height: 28px;
    font-weight: 300;
    color: #696969;
    padding-bottom: 10px;
}
footer #paymentMethod i {
    font-size: 40px;
    color: #ffffff;
    padding: 0 2px;
}
footer #paymentMethod i.icon-img,
footer #paymentMethod i.icon-img img {
    width: auto;
    height: 40px;
}
footer hr {
    border-color: #696969;
}
footer h2 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    color: #ffffff;
    text-transform: capitalize;
    padding-bottom: 10px;
}
footer #footerBottom ul li {
    /*padding: 0 10px;*/
}
footer #footerBottom ul li a {
    font-size: 14px;
    line-height: 28px;
    font-weight: 300;
    color: #696969;
    text-transform: capitalize;
}
footer #footerBottom ul li i.glyphicon {
    font-size: 10px;
    line-height: 28px;
    font-weight: 300;
    color: #696969;
    top: 0;
}
footer #footerBottom ul li a:hover {
    color: #ffffff;
}
footer #footerBottom ul li p {
    font-size: 14px;
    line-height: 28px;
    font-weight: 300;
    color: #696969;
}

/*
 *  Social icons
 * ------------------------------------------------------------------------------
 */
ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
}
ul.social-network li {
    display: inline;
    margin: 0 5px;
}
.social-network a.icoRss:hover {
    background-color: #F56505;
}
.social-network a.icoFacebook {
    background-color: #3B5998;
}
.social-network a.icoFacebook:hover {
    background-color: #3B5998;
}
.social-network a.icoTwitter {
    background-color: #33ccff;
}
.social-network a.icoTwitter:hover {
    background-color: #33ccff;
}
.social-network a.icoGoogle {
    background-color: #BD3518;
}
.social-network a.icoGoogle:hover {
    background-color: #BD3518;
}
.social-network a.icoVimeo:hover {
    background-color: #0590B8;
}
.social-network a.icoLinkedin:hover {
    background-color: #007bb7;
}
.social-network a.icoRss:hover i,
.social-network a.icoFacebook:hover i,
.social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i,
.social-network a.icoVimeo:hover i,
.social-network a.icoLinkedin:hover i {
    color: #fff;
}
a.socialIcon:hover,
.socialHoverClass {
    color: #44BCDD;
}
.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 40px;
    height: 40px;
    font-size: 20px !important;
}
.social-circle li i {
    margin: 0;
    line-height: 40px;
    text-align: center;
}
.social-circle li a:hover i,
.triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}
.social-circle i {
    color: #fff;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

/*
 *  Responsive
 * ------------------------------------------------------------------------------
 */
/* Large devices (desktops, less than 1200px) */
@media only screen and (max-width: 1199.98px) {
    header .nav li {
        margin: 0.5em 1em !important;
    }
}
/* Medium devices (tablets, less than 992px) */
@media only screen and (max-width: 991.98px) {
    header {
        height: 60px;
    }
    /* Navigation */
    #navbarsExampleDefault.sideMenu {
        top: 60px;
    }
    #navbarsExampleDefault .nav {
        text-align: left;
    }
    header nav .navbar-brand,
    header nav .navbar-brand img {
        max-height: 50px;
    }
    header .navbar-toggler {
        border: 0;
        padding-left: 0;
    }
    header #navbarsExampleDefault {
        max-width: 70%;
        padding: 1rem 0;
    }
    header .nav li {
        text-align: left !important;
    }
    header .nav a.nav-link:before {
        border-color: transparent;
    }
    #navbarsExampleDefault .dropdown-menu {
        width: auto;
        background-color: #1b1e21;
        border-top: 3px solid #ed1c24;
        left: -1px !important;
    }
    #navbarsExampleDefault .dropdown-menu a {
        color: #ffffff;
    }
    header #nav-right ul li {
        padding: 0 5px;
    }
    header #nav-right ul li button,
    header #nav-right ul li a.btn {
        padding: 0 3px;
        font-size: 12px;
        line-height: 21px;
    }
    header #nav-right ul.login li:first-child {
        border: 0;
    }
    header #nav-right ul.login li .dropdown-menu {
        top: 57px;
    }
    /* banner slide */
    #banner-slide .slide .bg-slide {
         display: none;
    }
    #banner-slide .slide .img-slide {
        display: block;
    }

}
/* Landscape phones and portrait tablets */
@media only screen and (max-width: 767.98px) {
    header {
        height: 45px;
    }
    /* Navigation */
    #navbarsExampleDefault.sideMenu {
        top: 45px;
    }
    header nav .navbar-brand,
    header nav .navbar-brand img {
        max-height: 35px;
    }
    #navbarsExampleDefault .dropdown-menu {
        width: 100%;
    }
    header #nav-right ul.login li:first-child .nav-link {
        padding: 4px 0;
    }
    header #nav-right ul.login li .fa-user {
        padding: 5px;
    }
    header #nav-right ul.login li .nav-link {
        padding: 0;
    }
    header #nav-right ul.login li .dropdown-menu {
        top: 40px;
    }

    /* banner slide */
    #banner-slide ul.slick-dots {
        bottom: 10px;
    }
    #banner-slide .slick-dots li {
        margin: 0;
    }
    #banner-slide button.register {
        font-size: 14px;
        line-height: 28px;
        padding: 3px 6px;
    }

    /* footer */
    footer #paymentMethod h1 {
        font-size: 20px;
    }
    footer h2 {
        font-size: 16px;
    }

    /* header tag */
    h1 {
        font-size: 20px;
    }
    h2 {
        font-size: 16px;
    }

}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .text-xs-center {
        text-align: center;
    }
    .d-xs-inline {
        display: inline-block;
    }
    /*!* Navigation *!
    header #nav-right ul.login li .fa-user {
        padding: 5px;
    }*/
    /* banner slide */
    #banner-slide button.register {
        font-size: 12px;
        line-height: 21px;
        padding: 0 3px;
    }
    /* footer */
    #footerBottom ul li {
        display: inline-block;
        margin-right: 10px;
    }
    /* Social icons */
    .social-circle li a {
        width: 30px;
        height: 30px;
        font-size: 16px !important;
    }
    .social-circle li i {
        line-height: 30px;
    }

}
