/*
 *  Page CSS
 * ------------------------------------------------------------------------------
 */
.container #lotteryType button.register {
    background-color: #ed1c24;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 28px;
    text-transform: capitalize;
    padding: 3px 6px;
}
#lotteryLatest {
    border: 1px solid #333333;
    border-radius: 15px;
    padding: 15px;
}
#lotteryLatest h1,
#lotteryLatest small {
    color: #333333;
    text-align: center;
    display: block;
}
/* tabs */
#lotteryLatest .nav-tabs {
    margin-top: 20px;
    position: relative;
    left: 1px;
    top: 1px;
}
#lotteryLatest .nav-tabs .nav-link.active {
    border-color: #ed1c24;
    border-bottom: 0;
    color: #333333;
    font-weight: 700;
    background-color: #ffffff;
}
#lotteryLatest .nav-tabs .nav-link {
    background-color: #ed1c24;
    color: #ffffff;
    font-weight: 700;
}
#lotteryLatest .nav-tabs .nav-item {
    margin-right: 5px;
}
#lotteryLatest table {
    border: 0;
    border-collapse: collapse;
}
#lotteryLatest table thead {
    background: linear-gradient(to right, #ed1c24, #000000);
}
#lotteryLatest table tbody {
    border-color: #343a40;
}
#lotteryLatest table tr th, #lotteryLatest table tr td {
    border-color: #ffffff;
    vertical-align: middle;
    padding: 5px;
}
#lotteryLatest table tr th {
    border-bottom: 0;
    text-align: center;
    vertical-align: middle;
    font-weight: 700;
}
#lotteryLatest table tr td ul {
    display: flex;
    float: right;
}
#lotteryLatest table tr td ul li {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-left: 3px;
}
#lotteryLatest table tr td ul.animal {
    float: none;
}
#lotteryLatest table tr td ul.animal li {
    width: 30px;
    height: 30px;
    margin: 0 auto;
}
#lotteryLatest a.moreResult {
    font-size: 14px;
    line-height: 28px;
    color: #ed1c24;
    text-decoration: underline;
    text-align: center;
    display: block;
}


/*
 *  Responsive
 * ------------------------------------------------------------------------------
 */
/* Large devices (desktops, less than 1200px) */
@media only screen and (max-width: 1199.98px) {

}
/* Medium devices (tablets, less than 992px) */
@media only screen and (max-width: 991.98px) {
    #lotteryLatest table tr td ul li,
    #lotteryLatest table tr td ul.animal li {
        width: 20px;
        height: 20px;
    }
}
/* Landscape phones and portrait tablets */
@media only screen and (max-width: 767.98px) {
    .container #lotteryType button.register {
        font-size: 12px;
        line-height: 21px;
        padding: 0px 3px;
    }
    #lotteryLatest {
        border: 0;
        border-radius: 0;
        padding: 0;
        margin-left: -15px;
        margin-right: -15px;
    }
    #lotteryLatest .nav-tabs .nav-link {
        font-size: 12px;
        padding: 0 5px !important;
    }

}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    #lotteryLatest table tr td ul {
        display: grid;
        float: none;
        margin: 0 10px;
    }
    #lotteryLatest table tr td ul li, #lotteryLatest table tr td ul.animal li {
        margin: 0 auto;
    }
}
