/*
 *  Page CSS
 * ------------------------------------------------------------------------------
 */
#resultShow {
    border: 1px solid #333333;
    border-radius: 15px;
    padding: 15px;
}
#resultShow h1,
#resultShow small {
    color: #333333;
    text-align: center;
    display: block;
}
/* tabs */
#resultShow .nav-tabs {
    margin-top: 20px;
    position: relative;
    left: 1px;
    top: 1px;
}
#resultShow .nav-tabs .nav-link.active {
    border-color: #ed1c24;
    border-bottom: 0;
    color: #333333;
    font-weight: 700;
    background-color: #ffffff;
}
#resultShow .nav-tabs .nav-link {
    background-color: #ed1c24;
    color: #ffffff;
    font-weight: 700;
}
#resultShow .nav-tabs .nav-item {
    margin-right: 5px;
}
#resultShow table {
    border: 0;
    border-collapse: collapse;
}
#resultShow table thead {
    background: linear-gradient(to right, #ed1c24, #000000);
}
#resultShow table tbody {
    border-color: #343a40;
}
#resultShow table tr th, #resultShow table tr td {
    border-color: #ffffff;
    vertical-align: middle;
    padding: 5px;
}
#resultShow table tr th {
    border-bottom: 0;
    text-align: center;
    vertical-align: middle;
    font-weight: 700;
}
#resultShow table tr td ul {
    display: flex;
    float: right;
}
#resultShow table tr td ul li {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-left: 3px;
}
#resultShow table tr td ul.animal {
    float: none;
}
#resultShow table tr td ul.animal li {
    width: 30px;
    height: 30px;
    margin: 0 auto;
}
#resultShow a.moreResult {
    font-size: 14px;
    line-height: 28px;
    color: #ed1c24;
    text-decoration: underline;
    text-align: center;
    display: block;
}

/** reference **/
#reference table tr th, #reference table tr td {
    text-align: center;
}
#reference table tr th {
    text-align: center;
    vertical-align: middle;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: #ffffff;
}
#reference table small {
    font-size: 12px;
    line-height: 12px;
    font-weight: 300;
    display: block;
    white-space: nowrap;
}
#reference table tr td {
    color: #333333;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    vertical-align: middle;
}
#reference table tr:first-child td:not(:first-child),
#reference table tr:last-child td:not(:first-child) {
    color: #ed1c24;
    font-size: 24px;
    font-weight: 900;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #e6e7e9;
}
.table-striped tbody tr:nth-of-type(even) {
    background-color: #d1d2d4;
}
table.table-bordered tr th, table.table-bordered tr td {
    border: 1px solid #333333;
}
#reference table tr td span {
    display: inline;
}
#reference #night table tr:nth-child(2) td:not(:first-child) {
    font-size: 20px;
    font-weight: 900;
}


/*
 *  Responsive
 * ------------------------------------------------------------------------------
 */
/* Large devices (desktops, less than 1200px) */
@media only screen and (max-width: 1199.98px) {

}
/* Medium devices (tablets, less than 992px) */
@media only screen and (max-width: 991.98px) {
    #resultShow table tr td ul li,
    #resultShow table tr td ul.animal li {
        width: 20px;
        height: 20px;
    }
}
/* Landscape phones and portrait tablets */
@media only screen and (max-width: 767.98px) {
    .container #lotteryType button.register {
        font-size: 12px;
        line-height: 21px;
        padding: 0px 3px;
    }
    #resultShow {
        border: 0;
        border-radius: 0;
        padding: 0;
        margin-left: -15px;
        margin-right: -15px;
    }
    #resultShow .nav-tabs .nav-link {
        font-size: 12px;
        padding: 0 5px !important;
    }
    /** referent of result **/
    #reference table tr th {
        font-size: 14px;
        line-height: 28px;
    }
    #reference table tr td {
        font-size: 14px;
        line-height: 28px;
    }
    #reference table tr:first-child td:not(:first-child),
    #reference table tr:last-child td:not(:first-child) {
        font-size: 18px;
    }
    #reference table small {
        font-size: 10px;
        line-height: 10px;
    }

}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    #resultShow table tr td ul {
        display: grid;
        float: none;
        margin: 0 5px;
    }
    #resultShow table tr td ul li, #resultShow table tr td ul.animal li {
        margin: 0 auto;
    }
    /** referent of result **/
    #reference #noon,
    #reference #night {
        padding-left: 0;
        padding-right: 0;

    }
    /*#reference table tr th {
        font-size: 12px;
        line-height: 21px;
    }
    #reference table tr:first-child td:not(:first-child),
    #reference table tr:last-child td:not(:first-child) {
        font-size: 14px;
    }*/

}
