/*
 *  Page CSS
 * ------------------------------------------------------------------------------
 */
.bgbox-shadow {
    border: 1px solid #000000;
    border-radius: 25px;
    padding: 25px 15%;
    background-color: #f8fafc;
}

/*
 *  Tabs left
 * ------------------------------------------------------------------------------
 */
ul.nav-tabs {
    border-bottom: 0;
    display: block;
    float: left;
    margin-right: 30px;
}
ul.nav-tabs > li {
    float: none;
}
ul.nav-tabs > li > a.nav-link {
    min-width: 74px;
    margin-right: 0;
    margin-bottom: 10px;
    background-color: #ed1c24;
    color: #ffffff;
    font-size: 14px;
    line-height: 28px;
    font-weight: 700;
    white-space: nowrap;
}
ul.nav-tabs > li:last-child > a.nav-link {
    margin-bottom: 0;
}
ul.nav-tabs {
    border-right: 4px solid #ed1c24;
}
ul.nav-tabs > li > a.nav-link {
    margin-right: -4px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #ed1c24;
}
ul.nav-tabs .nav-link:hover,
ul.nav-tabs .nav-link:focus {
    border-color: #ed1c24 transparent #ed1c24 #ed1c24;
    border-right-color: #f8fafc;
    color: #333333;
    background-color: #f8fafc;
}
ul.nav-tabs .nav-link.active,
ul.nav-tabs .nav-link.active:hover,
ul.nav-tabs .nav-link.active:focus,
ul.nav-tabs .nav-item.show .nav-link {
    border-color: #ed1c24 transparent #ed1c24 #ed1c24;
    border-right-color: #f8fafc;
    color: #333333;
}
/** tab-content **/
.tab-content {
    float: left;
    min-width: 350px;
}
.tab-content form label {
    font-size: 14px;
    line-height: 28px;
    font-weight: 500;
    color: #333333;
}
.tab-content > .tab-pane,
.pill-content > .pill-pane {
    display: none;
}
.tab-content > .tab-pane table tr td {
    font-size: 14px;
    line-height: 28px;
    font-weight: 500;
}
.tab-content > .active,
.pill-content > .active {
    display: block;
}
.tab-content strong {
    font-size: 14px;
    line-height: 28px;
}
.box-card {
    background-color: #ffffff;
    max-width: 100px;
    max-height: 100px;
    border-radius: 0.50rem;
}
/* The Image container */
.img-hover-zoom {
    overflow: hidden;
}
.img-hover-zoom img {
    transition: transform .5s ease;
    transform: scale(.8);
    border-radius: 0.50rem;
}
.img-hover-zoom:hover img {
    transform: scale(1);
}
.customZoom img {
    transform: scale(1);
}
.customZoom:hover img {
    transform: scale(1.2);
}
.bg-aba {
    background-color: #015f7b !important;
}

/* Boostrap Card */
.card-deck {
    margin-left: -5px;
    margin-right: -5px;
}
.card-deck .card {
    margin-left: 5px;
    margin-right: 5px;
    display: inline-flex;
}

/* statement */
#statement .table th, #statement .table td {
    padding: 0.50rem;
}
#statement .table th {
    font-weight: 700;
}
#statement .table td.notFound {
    text-align: center;
    padding: 15px 0;
    opacity: .7;
}

/* deposit */
#modal-deposit .modal-header .close,
#modal-withdraw .modal-header .close {
    margin: 0;
    padding: 0;
}
#modal-deposit form label,
#modal-withdraw form label {
    font-size: 14px;
    line-height: 28px;
    font-weight: 500;
    color: #333333;
}
#modal-deposit .modal-header img {
    max-width: 80px;
}

/*
 *  Tabs to accordion
 * ------------------------------------------------------------------------------
 */
.responsive-tabs-container[class*="accordion-"] .accordion-link {
    display: none;
    min-width: 74px;
    margin-right: 0;
    margin-bottom: 10px;
    background-color: #333333;
    color: #ffffff;
    font-size: 14px;
    line-height: 28px;
    font-weight: 700;
    white-space: nowrap;
}
.responsive-tabs-container[class*="accordion-"] .accordion-link.last {
    margin-bottom: 0;
}
.responsive-tabs-container[class*="accordion-"] .accordion-link.active {
    border-color: #ed1c24 transparent #ed1c24 #ed1c24;
    background-color: #ed1c24;
    color: #ffffff;
}


/*
 *  Responsive
 * ------------------------------------------------------------------------------
 */
/* Large devices (desktops, less than 1200px) */
@media only screen and (max-width: 1199.98px) {

}
/* Medium devices (tablets, less than 992px) */
@media only screen and (max-width: 991.98px) {
    .bgbox-shadow {
        padding: 25px;
    }
}
/* Landscape phones and portrait tablets */
@media only screen and (max-width: 767.98px) {
    .bgbox-shadow {
        border: 0;
        border-radius: 0;
        padding: 0;
        background-color: #f8fafc;
    }
    .tab-content {
        min-width: auto;
        width: 100%;
    }
    .responsive-tabs-container.accordion-xs .nav-tabs {
        display: none;
    }
    .responsive-tabs-container.accordion-xs .accordion-link {
        display: block;
    }

    .responsive-tabs-container[class*="accordion-"] .tab-pane {
        border: 1px solid #ddd;
        border-top: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-width: medium 1px 1px;
        /*margin-bottom: 10px;*/
        margin-top: -10px;
        padding: 10px;
    }
}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

}
